@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family:
    "Roboto",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

h1 {
  text-align: center;
}

p {
  font-size: 1.1rem;
  text-align: center;
}

.container {
  display: flex;
  gap: 15px;
}

.playerBoard div,
.computerBoard div {
  display: flex;
  flex-wrap: wrap;
  border: 0.1px solid rgba(0, 0, 0, 0.345);
  justify-content: center;
  align-items: center;
}
button {
  font-size: 1rem;
  padding: 5px 5px;
  margin-top: 40px;
}

.ship {
  background-color: rgb(197, 228, 255);
}

.playerBoard,
.computerBoard {
  width: 40%;
  text-align: center;
}

.hit {
  background-color: aquamarine;
}
.missed {
  font-size: 1.5rem;
  background-color: rgba(250, 107, 107, 0.479);
}

.playerBattleSpace,
.computerBattleSpace {
  border: none !important;
  padding: 5px;
}
